.tmpit input[type=checkbox] {
  display:none;
}
.tmpit input[type=checkbox] + label
{ 
  background-image: url('bird_small_bw.png');
  background-repeat:no-repeat;
}
.tmpit input[type=checkbox]:checked + label
{
  background-image: url('bird_small.png');
  background-repeat:no-repeat;
}
#tmp-preview
{
  text-align:center;
  background-color:#EFEFEF;
  border-right: 2px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 3px;
  padding: 2px;
}
#ftrImgSec 
{
  margin: 2px;
  padding-top: 3px;
}
