.tmpit input[type=checkbox] {
  display:none;
}
.tmpit input[type=checkbox] + label
{ 
  background-image: url('bird_small_bw.png');
  background-repeat:no-repeat;
}
.tmpit input[type=checkbox]:checked + label
{
  background-image: url('bird_small.png');
  background-repeat:no-repeat;
}